h1 {
    margin: 2% 2%;
    color: black;
    font-weight: bold;
}

div.register-form {
    text-align: center;
    width: 50%;
    height: 700px;
    margin: 0 auto;
}

div.register-form form {
    border-style: solid;
    border-radius: 5%;
    height: 75%;
}

div.register-form form div {
    width: 90%;
    margin: 0 auto;
}

input.btn_order {
    background: black;
    color: white;
    transition: 0.5s;
}

input.btn_order:hover {
     background: white;
     color: black;
     transition: 0.5s;
     box-shadow: 3px 3px 15px 0px #666;
}

